<h1>Edit <%= @recipe.name %></h1>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="recipe[name]">Recipe Name:
    <input type="text" name="recipe[name]" value="<%= @recipe.name %>">
  </label> <br>
  <label for=recipe[url]"">URL:
    <input type="text" name="recipe[url]" value="<%= @recipe.url %>">
  </label> <br>
  <input type="submit" name="submit" value="Edit This Recipe">
</form>

<br><br>

<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" value="Delete This Recipe">
</form>
