<h1></h1>
<h1>Welcome to Your recipe List</h1>
<div class="recipe">
    <h3><a href="/users/<%=user.id%>"><%= user.name %></a></h3>
    <p>Recipes Name: <%= recipe.recipes_name%> </p>
    <p>Ingredients: <%= recipes.ingredients %> </p>
    <p>Instructions: <%= recipe.instructions%></p>
</div>